Day 3
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        40,
        0
      ],
      "id": "38465f7b-1c85-43aa-90ba-73126ab3463b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1W1J7fNmz3JEZsjpwv206eso3omQyfNrjCdSdkdQCtmY",
          "mode": "list",
          "cachedResultName": "N8Nq",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1W1J7fNmz3JEZsjpwv206eso3omQyfNrjCdSdkdQCtmY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1W1J7fNmz3JEZsjpwv206eso3omQyfNrjCdSdkdQCtmY/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        220,
        0
      ],
      "id": "2cdfcdac-c1f0-4bd3-9fda-a883c7e27d1b",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3OGuJIGonElYyMD2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "NameName\n\nToday’s Plan\n\nTask Status\n\nEmail\n\n🎯 Instructions:\nFor members with \"Completed\" status:\n\nSend: \"Good job, [Name]! Great to see your progress. Today's task was: [Today’s Plan]. Keep it up!\"\n\nFor members with any other task status:\n\nSend: \"Hi [Name], just a gentle reminder that your task '[Today’s Plan]' is currently '[Task Status]'. Please aim to complete it by EOD today. Let me know if you need help!\"\n\nOutput one message per user, clearly labeled with their email address.\n\nKeep the tone friendly and motivating.\n\n📌 Example Input Row:\nName: Ethan\n\nToday’s Plan: Debug email verification\n\nTask Status: Blocked\n\nEmail: da7iqac@snsrgoups.com\n\n\n\nToday’s Plan\n\nTask Status\n\nEmail\n\n🎯 Instructions:\nFor members with \"Completed\" status:\n\nSend: \"Good job, [Name]! Great to see your progress. Today's task was: [Today’s Plan]. Keep it up!\"\n\nFor members with any other task status:\n\nSend: \"Hi [Name], just a gentle reminder that your task '[Today’s Plan]' is currently '[Task Status]'. Please aim to complete it by EOD today. Let me know if you need help!\"\n\nOutput one message per user, clearly labeled with their email address.\n\nKeep the tone friendly and motivating.\n\n📌 Example Input Row:\nName: Ethan\n\nToday’s Plan: Debug email verification\n\nTask Status: Blocked\n\nEmail: da7iqac@snsrgoups.com\n\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        460,
        0
      ],
      "id": "5490937a-ea4a-4525-b4fc-a588cc801719",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        840,
        220
      ],
      "id": "4eaa65e1-d27a-4faf-83a7-627ba23196e2",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "aISKIN2D8fhhRnh6",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Google Sheets').item.json.MAIL }}",
        "subject": "DAILY TASK AND ASSIGNED TASKS",
        "emailType": "text",
        "message": "DAILY TASK AND ASSIGNED TASKS",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        840,
        0
      ],
      "id": "90e1602d-74d3-4e72-a7c0-9c7548bc474c",
      "name": "Gmail",
      "webhookId": "8ec96d09-9a9e-4080-bc2c-05894365cc6b",
      "credentials": {
        "gmailOAuth2": {
          "id": "p67reOJo0oaQAHk9",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ee083492-7acf-4bb5-8b1c-e1b33782612e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "299c6cc38c51c64e286cbdd265908ac0421aa6a5a448e9a33f3b899deacaa5e5"
  },
  "id": "BJg9KMCiDfJ3fSAt",
  "tags": []
}
